:root{
    --header-color: #41b6e6;
    --white-color:#ffff;
    --menu-color: #0072ce;
    --menu1-para:#231f20;
    --block3-lh-btn:#808080;
    --block3-rhh-content:#e6e7e8;
    --block3-rhh-content-head:#6d6e70;
    --block4_body:#f2f2f2;
    --block5_lhside:#04a0a0;
    --block5_mont: #002e5d;
    --block5_rh_date:#61d4f7;
    --black-color: black;
    --back-color: #404041;
    --foot-color:#59595c;
   
}