
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Poppins:wght@200&display=swap');

  body{
    margin: 0;
    height: 100vh;
    background-color:#000814;
    color: white;
    font-family: 'Bungee Spice', sans-serif;

}
.aboutme{
    min-height:600px ;
}
@media(max-width:990px){


    .btn{
        width:100%;
         background-color:green
    }
}