.block4_lh{
    margin-left: 0px;
    width:auto;
}
.block4_lhimg{
    margin-left:75px;
}
.block4lh_content{
    left: 110px;
}
.block4lhbtn{
    top: 354px;
    left: 567px;
}
.block4_rh{
    margin-top: 50px;
}
.first_card{
    margin-left: 150px;
}
.block4_rh_firstcard_btn{
    top: 358px;
    left: 230px;
}
.block4_rh_secondcard_btn{
    top:355px;
    left: 490px;
}
.block4_viewall{
    top: 270px;
    left: 0px;

}
