:root {
    --color-41b6e6: #41b6e6;
    --color-ffffff: #ffffff;
    --color-0072ce: #0072ce;
    --color-231f20: #231f20;
    --color-808080: #808080;
    --color-e6e7e8: #e6e7e8;
    --color-6d6e70: #6d6e70;
    --color-f2f2f2: #f2f2f2;
    --color-04a0a0: rgb(4, 160, 160, 0.5);
    --color-002e5d: rgb(0, 46, 93, 0.5);
    --color-61d4f7: #61d4f7;
    --color-59595c: #59595c;
    --color-404041: #404041;
    --color-f4f0ea: #f4f0ea;
}
